## Reading Data From Different Sources

In [5]:
import pandas as pd
from io import StringIO as sio

Data = '{"employee_name":"James","email":"james@gmail.com","job_profile":[{"title1":"Team Lead","title2":"Sr. Developer"}]}'
dfrm=pd.read_json(sio(Data))
print(dfrm)
print()
print(dfrm.to_json())

  employee_name            email  \
0         James  james@gmail.com

                                         job_profile
0  {'title1': 'Team Lead', 'title2': 'Sr. Develop...

{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}

In [7]:
## Key Value pairs are based on index when we converted it to Json
# print(dfrm.to_json(orient='index'))
print(dfrm.to_json(orient='records'))

[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]

In [10]:


import pandas as pd
dfrm2=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)
print(dfrm2.head(5))

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

     13
0  1065
1  1050
2  1185
3  1480
4   735

In [12]:
dfrm2.to_csv('wine.csv')

In [17]:
## Example 3
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
dfrm3 = pd.read_html(url)
print(dfrm3)

[                               Bank Name               City          State  \
0     The First National Bank of Lindsay            Lindsay       Oklahoma
1  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
2                          Citizens Bank           Sac City           Iowa
3               Heartland Tri-State Bank            Elkhart         Kansas
4                    First Republic Bank      San Francisco     California
5                         Signature Bank           New York       New York
6                    Silicon Valley Bank        Santa Clara     California
7                      Almena State Bank             Almena         Kansas
8             First City Bank of Florida  Fort Walton Beach        Florida
9                   The First State Bank      Barboursville  West Virginia

    Cert                 Aquiring Institution      Closing Date  \
0   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
1  27332    Fulton Bank, National Association    April 26, 2024
2   8758            Iowa Trust & Savings Bank  November 3, 2023
3  25851               Dream First Bank, N.A.     July 28, 2023
4  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
5  57053                  Flagstar Bank, N.A.    March 12, 2023
6  24735  First Citizens Bank & Trust Company    March 10, 2023
7  15426                          Equity Bank  October 23, 2020
8  16748            United Fidelity Bank, fsb  October 16, 2020
9  14361                       MVB Bank, Inc.     April 3, 2020

   Fund  Sort ascending
0                 10547
1                 10546
2                 10545
3                 10544
4                 10543
5                 10540
6                 10539
7                 10538
8                 10537
9                 10536  ]

In [19]:
url = "https://en.wikipedia.org/wiki/Mobile_country_code"
dfrm4 = pd.read_html(url)
print(dfrm4)

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
0    1    1  TEST  Test network  Operational         any
1    1    1  TEST  Test network  Operational         any
2  999   99   NaN  Internal use  Operational         any
3  999  999   NaN  Internal use  Operational         any

                              References and notes
0                                              NaN
1                                              NaN
2  Internal use in private networks, no roaming[6]
3  Internal use in private networks, no roaming[6]  ,      Mobile country code                                    Country ISO 3166  \
0                    289                                 A Abkhazia    GE-AB
1                    412                                Afghanistan       AF
2                    276                                    Albania       AL
3                    603                                    Algeria       DZ
4                    544  American Samoa (United States of America)       AS
..                   ...                                        ...      ...
247                  452                                    Vietnam       VN
248                  543                        W Wallis and Futuna       WF
249                  421                                    Y Yemen       YE
250                  645                                   Z Zambia       ZM
251                  648                                   Zimbabwe       ZW

                                  Mobile network codes National MNC authority  \
0             List of mobile network codes in Abkhazia                    NaN
1          List of mobile network codes in Afghanistan                    NaN
2              List of mobile network codes in Albania                    NaN
3              List of mobile network codes in Algeria                    NaN
4       List of mobile network codes in American Samoa                    NaN
..                                                 ...                    ...
247        List of mobile network codes in the Vietnam                    NaN
248  List of mobile network codes in Wallis and Futuna                    NaN
249          List of mobile network codes in the Yemen                    NaN
250             List of mobile network codes in Zambia                    NaN
251           List of mobile network codes in Zimbabwe                    NaN

                      Remarks
0    MCC is not listed by ITU
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
247                       NaN
248                       NaN
249                       NaN
250                       NaN
251                       NaN

[252 rows x 6 columns],      MCC  MNC     Brand                  Operator           Status  \
0    901    1       NaN                   Webbing          Unknown
1    901    2       NaN            GlobalmatiX AG          Unknown
2    901    3   Iridium                       NaN      Operational
3    901    4       NaN  BBIX Singapore Pte. Ltd.          Unknown
4    901    5       NaN      Thuraya RMSS Network      Operational
..   ...  ...       ...                       ...              ...
99   902    1       NaN        MulteFire Alliance      Operational
100  991    1       NaN    World's Global Telecom  Not operational
101  991    2  5G Croco               Orange S.A.  Not operational
102  991    3       NaN                 Halys SAS  Not operational
103  991    4       NaN              E-Space Inc.          Unknown

    Bands (MHz)                               References and notes
0          MVNO            Former ICO Satellite Management[51][52]
1       Unknown  Former Sense Communications International; veh...
2     Satellite                                                NaN
3       Unknown                              Former Globalstar[54]
4     Satellite                                                NaN
..          ...                                                ...
99          LTE                                           [6][123]
100     Unknown  temporarily assigned until 15 January 2021[102...
101          5G  temporarily assigned until 6 August 2022[125][...
102     Unknown  temporary assignment for trial until 5 April 2...
103   Satellite  temporary assignment for trial until 17 Oct 20...

[104 rows x 7 columns],    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                References and notes
0  There appears to be no officially assigned MCC...  ,                                vteTelecommunications  \
0                                            History
1                                           Pioneers
2                                 Transmission media
3                     Network topology and switching
4                                       Multiplexing
5                                           Concepts
6                                   Types of network
7                                   Notable networks
8                                          Locations
9  Telecommunication portal  Category  Outline  C...

                             vteTelecommunications.1
0  Beacon Broadcasting Cable protection system Ca...
1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
2  Coaxial cable Fiber-optic communication optica...
3  Bandwidth Links Nodes terminal Network switchi...
4  Space-division Frequency-division Time-divisio...
5  Communication protocol Computer network Data t...
6  Cellular network Ethernet ISDN LAN Mobile NGN ...
7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
8  Africa Americas North South Antarctica Asia Eu...
9  Telecommunication portal  Category  Outline  C...  ]

In [21]:
dfrm6 = pd.read_excel('data2.xlsx')
print(dfrm6)

    name  age
0  Sandy   36
1   Jack   37
2   John   40

In [22]:
## Converting a pickle file
dfrm6.to_pickle('df_pickle')
dfrm7=pd.read_pickle("df_pickle")
print(dfrm7)

    name  age
0  Sandy   36
1   Jack   37
2   John   40