### SQL And SQLite
* SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
* SQLite is a self-contained, serveless, and zero-configuration database engine that is widely used for embedded database systems.

In [2]:
import sqlite3

## Connect to a SQLite database
conn = sqlite3.connect('example.db')
conn

In [3]:
## Create a cursor to iterate through tables, rows
cursor = conn.cursor()

In [4]:
## Create a table
cursor.execute('''
    create table if not exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Test
    )
''')

## Commit the changes
conn.commit()

In [5]:
## Select a table
cursor.execute('''
    select * from employee
''')

In [6]:
## Insert some data in sqlite table
cursor.execute('''
    insert into employee (name,age,department) values ('Sandilya Sripathi',36,'AI MI Specialist')
''')

cursor.execute('''
    insert into employee (name,age,department) values ('Bob Marly',25,'Engineer')
''')

cursor.execute('''
    insert into employee (name,age,department) values ('Charile Tango',37,'Finance')
''')

## Commit
conn.commit()

In [8]:
## Querying from a table
cursor.execute('''
    select * from employee
''')
rows = cursor.fetchall()

## Print the result data
for row in rows:
    print(row)

(1, 'Sandilya Sripathi', 36, 'AI MI Specialist')
(2, 'Bob Marly', 25, 'Engineer')
(3, 'Charile Tango', 37, 'Finance')

In [10]:
## Update some data in sqlite table
cursor.execute('''
    update employee set age = 35 where name = "Sandilya Sripathi"
''')

## Commit
conn.commit()

## Querying from a table
cursor.execute('''
    select * from employee
''')
rows = cursor.fetchall()

## Print the result data
for row in rows:
    print(row)

(1, 'Sandilya Sripathi', 35, 'AI MI Specialist')
(2, 'Bob Marly', 25, 'Engineer')
(3, 'Charile Tango', 37, 'Finance')

In [12]:
## Delete the data from the table
cursor.execute('''
    delete from employee where name = "Bob Marly"
''')

## Commit
conn.commit()

## Querying from a table
cursor.execute('''
    select * from employee
''')
rows = cursor.fetchall()

## Print the result data
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Sandilya Sripathi', 35, 'AI MI Specialist')
(3, 'Charile Tango', 37, 'Finance')

In [14]:
## Working with sales data
## Connect to an SQLite database
conn = sqlite3.connect("sales_data.db")
csr = conn.cursor()

## Create a table for sales data
csr.execute('''
CREATE TABLE IF NOT EXISTS SALES (
        ID INTEGER PRIMARY KEY,
        DATE TEXT NOT NULL,
        PRODUCT TEXT NOT NULL,
        SALES INTEGER,
        REGION TEXT
    )
''')

## Insert Data into Sales Table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
]

csr.executemany('''
    INSERT INTO SALES (DATE,PRODUCT,SALES,REGION) VALUES (?,?,?,?)
''', sales_data)

conn.commit()

In [16]:
## Querying from a table
csr.execute('''
    SELECT * FROM SALES
''')
rows = csr.fetchall()

## Print the result data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [17]:
csr.close()
conn.close()

In [21]:
with sqlite3.connect("sales_data.db") as conn:
    csr = conn.cursor()
    csr.execute('''
        SELECT * FROM SALES
    ''')
    rows = csr.fetchall()

    ## Print the result data
    for row in rows:
        print(row)
    
    csr.close()

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')