## Definition Of `SETS`
Sets are built-in data type in python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership test, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference and symmetric difference.

#### Creating a Set

In [1]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_new_set = set([1,2,3,4,5])
print(my_new_set)

my_new_set2 = set([1,2,3,4,4,6,2,5])
print(my_new_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

### Basic Set Operatons
* Adding and Removing Elements

In [7]:
my_new_set3 = {1, 2, 3, 4, 5, 6}
print(my_new_set3)
my_new_set3.add(7)
print(my_new_set3)
my_new_set3.add(7)
print(my_new_set3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [8]:
my_new_set4 = {1, 2, 3, 4, 5, 6}
print(my_new_set4)
my_new_set4.remove(3)
print(my_new_set4)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

##### Removing an item might lead to `KeyError`, if the value is not present in Set
##### But dicard method will not throw any error. If item is there, it will be removed, else do nothing.

In [11]:
my_new_set4.dicard(10)
print(my_new_set4)

AttributeError: 'set' object has no attribute 'dicard'

In [10]:
my_new_set4.discard(10)
print(my_new_set4)

{1, 2, 4, 5, 6}

### Pop Method

In [12]:
my_set5 = {1, 2, 3, 4, 5, 6}
removed_element = my_set5.pop()
print(removed_element)
print(my_set5)

1
{2, 3, 4, 5, 6}

#### Clear all the elements

In [13]:
my_set6 = {1, 2, 3, 4, 5, 6}
my_set6.clear()
print(my_set6)

set()

### Set Membership Test

In [14]:
my_set7 = {1, 2, 3, 4, 5, 6}
print(3 in my_set7)
print(10 in my_set7)

True
False

### Mathmatical Operatons

In [23]:

## Union
my_set8 = {1, 2, 3, 4, 5, 6}
my_set9 = {4, 5, 6, 7, 8, 9}
union_set = my_set8.union(my_set9)
print(union_set)

## Intersection
intrstn_set = my_set8.intersection(my_set9)
print(intrstn_set)

## Intersection_udates
my_set8.intersection_update(my_set9)
print(my_set8)


## differece
my_set8 = {1, 2, 3, 4, 5, 6}
my_set9 = {4, 5, 6, 7, 8, 9}

print(my_set9.difference(my_set8))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{8, 9, 7}