# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

* 1.1 Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [4]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(6,4)),columns=['A','B','C','D'])
print("Original DataFrame:")
print(df)

# Changing the index
df.set_index("A", inplace=True)

# DataFrame with new index:
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  96  98  68  46
1  26  28  97  21
2  64  21  88  35
3  43  69  62  62
4  50  26  16  25
5  75  56  41  34
DataFrame with new index:
     B   C   D
A
96  98  68  46
26  28  97  21
64  21  88  35
43  69  62  62
50  26  16  25
75  56  41  34

* 1.2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [7]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(3,3)),columns=['A','B','C'], index=['X','Y','Z'])
print("Original DataFrame:")
print(df)
print()
val = df.at['Y','B']
print(f"Data element at Row 'Y' and Column 'B' : {val}")

Original DataFrame:
    A   B   C
X  46  92  14
Y  46  37  94
Z  64  42  15

Data element at Row 'Y' and Column 'B' : 37

### Assignment 2: DataFrame Operations

* 2.1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [9]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(5,3)),columns=['A','B','C'])
print("Original DataFrame:")
print(df)
print()
print("Original DataFrame After Adding A Column:")
df['D'] = df['A'] * df['B']
print(df)

Original DataFrame:
    A   B   C
0  27  57  55
1  36  15  49
2  95  79  14
3  70  74  17
4  91  64  40

Original DataFrame After Adding A Column:
    A   B   C     D
0  27  57  55  1539
1  36  15  49   540
2  95  79  14  7505
3  70  74  17  5180
4  91  64  40  5824

* 2.2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [13]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(4,3)))
print("Original DataFrame:")
print(df)
print()

rowsum = df.sum(axis=1)
colsum = df.sum()
print("Sum of rows")
print(rowsum)
print()
print("Sum of columns")
print(colsum)

Original DataFrame:
    0   1   2
0  15  43  17
1  45  61   3
2  96  95  69
3  13  59  69

Sum of rows
0     75
1    109
2    260
3    141
dtype: int64

Sum of columns
0    169
1    258
2    158
dtype: int64

### Assignment 3: Data Cleaning

* 3.1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [16]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(5,3)))
print("Original DataFrame:")
print(df)
print()

df.iloc[0,0] = np.nan
df.iloc[1,2] = np.nan
df.iloc[3,0] = np.nan
df.iloc[4,2] = np.nan

print("Original DataFrame After Introducing NAN:")
print(df)
print()

df.fillna(df.mean(), inplace=True)
print("Original DataFrame After Filling Mean:")
print(df)

Original DataFrame:
    0   1   2
0  72  79  16
1  24  32  38
2  37  34  51
3  28  33  88
4  15  40  59

Original DataFrame After Introducing NAN:
      0   1     2
0   NaN  79  16.0
1  24.0  32   NaN
2  37.0  34  51.0
3   NaN  33  88.0
4  15.0  40   NaN

Original DataFrame After Filling Mean:
           0   1          2
0  25.333333  79  16.000000
1  24.000000  32  51.666667
2  37.000000  34  51.000000
3  25.333333  33  88.000000
4  15.000000  40  51.666667

* 3.2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [27]:
import pandas as pd
import numpy as np

## Create data frame

df = pd.DataFrame(np.random.randint(1,100, size=(6,4)))
print("Original DataFrame:")
print(df)
print()

df.iloc[0,0] = np.nan
df.iloc[1,2] = np.nan
df.iloc[3,0] = np.nan
df.iloc[4,2] = np.nan

print("Original DataFrame After Introducing NAN:")
print(df)
print()

df = df.dropna()
print(df)
print()

Original DataFrame:
    0   1   2   3
0  44  99  65  44
1  11  87  45  34
2  91  22  85  68
3  93  65  32  97
4  29  16  90  12
5  32   4  76  57

Original DataFrame After Introducing NAN:
      0   1     2   3
0   NaN  99  65.0  44
1  11.0  87   NaN  34
2  91.0  22  85.0  68
3   NaN  65  32.0  97
4  29.0  16   NaN  12
5  32.0   4  76.0  57

      0   1     2   3
2  91.0  22  85.0  68
5  32.0   4  76.0  57

### Assignment 4: Data Aggregation

* 4.1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

* 4.2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

* 5.1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

* 5.2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

* 6.1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

* 6.2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

* 7.1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

* 7.2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

* 8.1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

* 8.2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

* 9.1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

* 9.2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

* 10.1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

* 10.2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.